In [0]:
import numpy as np
import pandas as pd

In [0]:
df = spark.read.csv("/FileStore/tables/retail.csv", header=True, sep=";")
df = df.toPandas()

In [0]:
df.head

Out[4]: <bound method NDFrame.head of        nvoice_no stock_code                          description quantity  \
0         536365     85123A   WHITE HANGING HEART T-LIGHT HOLDER        6
1         536365      71053                  WHITE METAL LANTERN        6
2         536365     84406B       CREAM CUPID HEARTS COAT HANGER        8
3         536365     84029G  KNITTED UNION FLAG HOT WATER BOTTLE        6
4         536365     84029E       RED WOOLLY HOTTIE WHITE HEART.        6
...          ...        ...                                  ...      ...
541904    581587      22613          PACK OF 20 SPACEBOY NAPKINS       12
541905    581587      22899         CHILDREN'S APRON DOLLY GIRL         6
541906    581587      23254        CHILDRENS CUTLERY DOLLY GIRL         4
541907    581587      23255      CHILDRENS CUTLERY CIRCUS PARADE        4
541908    581587      22138        BAKING SET 9 PIECE RETROSPOT         3

            inovice_date unit_price customer_id          region
0       01/12/2010 08:26       2,55       17850  United Kingdom
1       01/12/2010 08:26       3,39       17850  United Kingdom
2       01/12/2010 08:26       2,75       17850  United Kingdom
3       01/12/2010 08:26       3,39       17850  United Kingdom
4       01/12/2010 08:26       3,39       17850  United Kingdom
...                  ...        ...         ...             ...
541904  09/12/2011 12:50       0,85       12680          France
541905  09/12/2011 12:50        2,1       12680          France
541906  09/12/2011 12:50       4,15       12680          France
541907  09/12/2011 12:50       4,15       12680          France
541908  09/12/2011 12:50       4,95       12680          France

[541909 rows x 8 columns]>